In [1]:
import numpy as np
import pandas as pd
import rampwf as rw

from DataCleaner import DataCleaner

In [2]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [3]:
problem = rw.utils.assert_read_problem()

In [4]:
X_train, y_train = problem.get_train_data()
X_test, y_test = problem.get_test_data()

Train data
Optical Dataset composed of
46110 source samples
50862 source background samples
438 target labeled samples
8202 target unlabeled samples
29592 target background samples
 Optical Dataset labels composed of
46110 labels of source samples
438 labels of target samples

Test data
Optical Dataset composed of
0 source samples
0 source background samples
17758 target labeled samples
0 target unlabeled samples
47275 target background samples
 Optical Dataset labels composed of
0 labels of source samples
17758 labels of target samples

In [5]:
X_s = np.concatenate([obs for obs in X_train.source], axis=0)
np.isnan(X_s).sum(axis=0) / X_s.shape[0]

array([0.11251026, 0.11009091, 0.11009091, 0.91302927, 0.11009091,
       0.11251026, 0.11009091, 0.11251026, 0.11251026, 0.11251026])

In [6]:
X_t = np.concatenate([obs for obs in X_train.target], axis=0)
np.isnan(X_t).sum(axis=0) / X_t.shape[0]

array([0.17548312, 0.31850334, 0.31850334, 0.234375  , 0.31850334,
       0.17548312, 0.31850334, 0.17548312, 0.17548312, 0.17548312])

In [7]:
pd.DataFrame(X_s).describe(percentiles=[.8, .9, .95, .99, .995, .999])

,0,1,2,3,4,5,6,7,8,9
count,27499686.00,27574652.00,27574652.00,2694868.00,27574652.00,27499686.00,27574652.00,27499686.00,27499686.00,27499686.00
mean,10.17,2309576.00,3369.15,-30.02,0.58,-21.18,0.11,2.44,39.11,2498.92
std,3.66,58908704.00,83644.79,3.26,3.67,7.71,0.88,1.46,9.07,779.53
min,0.00,0.00,0.00,-50.00,0.00,-58.51,0.00,-40.00,-11.00,0.00
50%,12.00,0.00,0.00,-30.00,0.00,-28.54,0.00,2.27,41.00,3280.00
80%,15.00,1.00,0.00,-27.70,0.67,-27.69,0.04,2.53,48.00,3300.00
90%,16.00,408.00,69.00,-26.38,1.83,-27.44,0.10,2.68,52.00,3300.00
95%,17.00,25146.00,1622.00,-25.09,3.01,-27.21,0.28,2.84,55.00,3320.00
99%,20.00,6282116.00,53740.00,-20.76,8.39,-25.53,3.16,3.08,63.00,3340.00
99.5%,21.00,19400798.00,124335.00,-19.51,9.90,-23.46,4.76,3.16,64.00,3360.00
99.9%,26.00,610959424.00,536350.00,-19.00,20.44,-19.75,10.54,3.40,67.00,3360.00
max,119.00,4090020608.00,48188872.00,-14.89,10545.36,0.00,1695.55,7.42,80.00,3420.00

In [8]:
pd.DataFrame(X_t).describe(percentiles=[.8, .9, .95, .99, .995, .999])

,0,1,2,3,4,5,6,7,8,9
count,242685.00,200589.00,200589.00,225351.00,200589.00,242685.00,200589.00,242685.00,242685.00,242685.00
mean,12.63,410092.72,2978.51,-28.13,1.33,-28.72,0.20,2.27,41.53,3259.55
std,3.75,2955614.75,43554.48,3.20,7.45,2.78,1.14,0.34,8.04,45.93
min,0.00,0.00,0.00,-39.92,0.00,-40.00,0.00,1.17,20.00,3140.00
50%,13.00,0.00,0.00,-27.96,0.00,-28.36,0.00,2.26,42.00,3260.00
80%,15.00,0.00,0.00,-25.09,0.61,-27.45,0.04,2.51,49.00,3300.00
90%,16.00,2048.20,44.00,-24.09,1.95,-26.99,0.12,2.69,52.00,3320.00
95%,18.00,281287.19,763.00,-23.28,4.43,-24.68,0.44,2.92,54.00,3340.00
99%,25.00,16496691.00,46364.68,-21.05,28.51,-20.46,5.60,3.16,58.00,3400.00
99.5%,27.00,27209304.00,138252.23,-20.18,53.17,-17.99,8.95,3.22,59.00,3420.00
99.9%,32.00,28804704.00,619461.00,-19.36,116.90,-14.64,13.98,3.39,60.00,3440.00
max,32.00,415249216.00,5847210.00,-19.17,174.53,0.00,26.33,3.49,63.00,3440.00

In [7]:
data_cleaner = DataCleaner()

In [8]:
test = data_cleaner.clean_data(X_train.source)

In [9]:
X_test = np.concatenate([obs for obs in test], axis=0)
pd.DataFrame(X_test).isna().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

In [14]:
pd.DataFrame(X_test).describe(percentiles=[.8, .9, .95, .99, .995])

,0,1,2,3,4,5,6,7,8
count,30982692.00,30983304.00,30983304.00,4635984.00,30982692.00,30983304.00,30982692.00,30982692.00,30982692.00
mean,9.26,45.62,8.10,-30.16,-19.32,0.12,2.17,34.76,2218.00
std,4.14,118.72,20.40,3.17,9.06,0.88,1.39,10.53,1065.65
min,0.00,0.00,0.00,-50.00,-58.51,0.00,-40.00,-11.00,0.00
50%,12.00,0.00,0.00,-29.96,-28.54,0.00,2.27,41.00,3280.00
80%,15.00,1.00,0.10,-27.70,-27.69,0.04,2.53,48.00,3300.00
90%,16.00,361.53,63.69,-26.38,-27.44,0.11,2.68,52.00,3300.00
95%,17.00,408.00,69.00,-25.04,-27.21,0.32,2.83,55.00,3320.00
99%,20.00,408.00,69.00,-21.31,-25.53,3.00,3.07,63.00,3340.00
99.5%,21.00,408.00,69.00,-19.67,-23.47,4.54,3.15,64.00,3360.00
max,119.00,408.00,69.00,-14.89,0.00,1695.55,7.42,80.00,3420.00